@import "tailwindcss";


@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollText 20s linear infinite;
}

.animate-scroll2 {
  animation: scrollText 30s linear infinite reverse;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  font-size: 80px;
  font-weight: 700;
}
